.customers-page {
    padding: 20px;
    max-width: 1300px;
    margin: 0 auto;
    background-color: rgba(51, 75, 54, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.customers-page .react-select__control {
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Tajawal', sans-serif;
}

.panel {
  margin-bottom: 40px;
  padding: 30px;
  background-color: rgba(166, 180, 174, 0.9); /* Fady background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;
}

.header-name {
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    color:black !important;
    font-size: xx-large;
}

/* Form styling */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form-group {
    flex: 1 1 calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-size: x-large;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    color: black;
}

.form-group input,
.form-group select {
    padding: 10px;
    font-size: larger;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    color: black;
}

.form-group.full-width {
    flex: 1 1 100%;
}

/* Buttons */
button[type="submit"] {
    width: 100%;
    padding: 10px 30px;
    background-color: #6B0411;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Tajawal', sans-serif;
    font-size: larger;
    font-weight: bold;
}

button[type="submit"]:hover {
    background-color: #854239;
    font-family: 'Tajawal', sans-serif;
    font-size: larger;
}

/* Message styling */
.message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
    text-align: center;
}

.panel-separator {
    margin-top: 80px;
    margin-bottom: 80px;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered-large-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #854239;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #854239;
    border-radius: 5px;
    background-color: #E8F5E9;
}

/* Full width row styles */
.full-width {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.full-width .form-group {
    flex: 1;
    margin-right: 15px;
}

/* Row styling */
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.row .form-group {
    flex: 1;
    margin-right: 15px;
}

/* Ensure inputs and selects are equal width */
.form-group input,
.form-group .css-2b097c-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Fading line between panels */
.fading-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
}
